<% if model.errors.any? %>
<div class="error-alert m-5">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message text-danger text-center h3'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>