<%= render "shared/header"%>

<div class="container text-center mt-5">
<div class="text-right">
  <%= link_to "この商品を削除",place_item_path(@item.place_id,@item.id),method: :delete,class:"btn btn-danger ml-5 text-right btn-lg"%>
</div>
  <div class="mt-5">
  <p class="h1 mt-5 mb-5"><%= @item.name%></p>
    <%= image_tag @item.image.variant(resize:'500x500')%>
  </div>
</div>
<% form_with %>